body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('movie-film-video-production-ss-1920-800x450.jpg');
    background-size:cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.colBorder {
    border: 2px solid white;
    
}
.actor-name {
    font-family: 'Merriweather', serif;
}
.row {
    text-align:center;
    padding-top:10px;
    color:white;
    
}
.create-new.btn.btn-primary a {
   color:white;
}
h2.page-title {
    color:white;
}
